{% extends 'core/base.html' %}
{% load static %}
{% block title %}Proapp | Feed{% endblock %}
{% block content %}
<!--Header Section-->
<section class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'feed' %}">
                <h1>Proapp</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Sobre nosotros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' request.user.pk %}">
                            Ver perfil
                        </a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a href="login.html" style="color: #EB596E;">
                        Cerrar Sesión
                    </a>
                </span>
            </div>
        </div>
    </nav>
</section>
<!--Cards section-->
<section class="feed mt-5">
    <div class="row">
        <div class="col-sm-12
                        d-flex
                        justify-content-center
                        img-profile-card">
            <img src="{% static 'core/img/profile.svg' %}" alt="Imagen de perfil" class="">
            <a href="profile.html">Nombre de Usuario</a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'core/img/test.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h4>Título del proyecto</h4>
                    <p class="card-text">
                        Some quick example text to build on
                        the card title and make up the bulk of
                        the card's
                        content.
                    </p>
                    <p>
                        <b>Fecha de actualización:</b> 01/16/2021
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}