{% extends 'core/base.html' %}
{% load static %}
{% block title%} Proapp | Iniciar Sesión {% endblock %}
{% block content %}
<!--Login section-->
<section class="mainlogin">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-sm-12 col-mainlgo">
                    <h1>Proapp</h1>
                    <span class="site-slogan">
                        Con Proapp podras compartir tus proyectos con
                        la comunidad, ellos podrán comentar y apoyarte
                        ¿qué estás esperando para unirte?
                    </span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <form action="" method="POST" class="login-form">
                        {% csrf_token %}
                        <h2>Iniciar Sesión</h2>
                        {% if 'register' in request.GET %}
                        <p class="alert alert-success">
                            Inicia sesión con tu usuario y contrañesa
                        </p>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" name="username" class="form-control" placeholder="Username" autofocus="" autocapitalize="none"
                                autocomplete="username" maxlength="150" required="" id="id_username">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" autocomplete="current-password" required="" id="id_password"
                                placeholder="contraseña" class="form-control">
                        </div>
                        <div class="form-button">
                            <button type="submit" class="btn btn-primary mb-3 btn-block">
                                Ingresar
                            </button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12 call-action">
                            <span>¿Aún no tienes cuenta? |
                                <a href="{% url 'signup' %}">Regístrate</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--Login section-->
{% endblock %}